:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;
  --header-height: 100px;
  --footer-height: 100px;
}
